@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?fguyz3');
	src:url('fonts/icomoon.eot?#iefixfguyz3') format('embedded-opentype'),
		url('fonts/icomoon.ttf?fguyz3') format('truetype'),
		url('fonts/icomoon.woff?fguyz3') format('woff'),
		url('fonts/icomoon.svg?fguyz3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lock-open:before {
	content: "\e600";
}
.icon-lock:before {
	content: "\e601";
}
.icon-plus:before {
	content: "\e602";
}
.icon-remove:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
