.CreateMessage {
  display: flex;
  position: relative;
  padding: 16px;
  background-color: #FFF;
}

.CreateMessage__Input {
  background-color: #FFF;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  margin: auto;
  width: 100%;
}

.CreateMessage__Submit {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.CreateMessage__Input__Textarea {
  border: 0;
  outline: none;
  background-color: transparent;
  resize: none;
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.CreateMessage__Input--Locked {
  background-color: #ECECEC;
}
