.Messages {
  position: relative;
}

.Message {
  padding: 8px 0;
}

.Message--Event {
  background-color: #FBFBFB;
  padding: 16px;
  margin: 16px;
}

.Message--Event .Message__Source {
  font-style: italic;
}

.Message:hover .MessageMeta__RemoveIcon {
  display: inline-block;
  padding-left: 4px;
}

.MessageMeta {
  display: flex;
  align-items: center;
}

.MessageMeta__Timestamp {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  padding-left: 4px;
}

.Message__Source {
  padding-left: 32px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.MessageMeta__Username{
  font-weight: bold;
  font-size: 14px;
}

.MessageMeta__RemoveIcon {
  cursor: pointer;
  display: none;
}

.Messages__Helper {
  position: absolute;
  bottom: 0;
  color: #999;
}
