.PanelHandler {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.PanelHandler__Sidebar {
  flex-basis: 280px;
  background-color: #F9F9F9;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.PanelHandler__Create {
  background-color: #BADA55;
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 16px;
  font-weight: bold;
}

.PanelHandler__Create__Text {
  padding-left: 8px;
}

.PanelHandler__Title {
  background-color: #ECECEC;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.PanelHandler__Body {
  padding: 16px 24px;
  flex: 1;
  position: absolute;
  left: 280px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.PanelHandler__Header__Icon {
  padding-right: 8px;
  cursor: pointer;
}

.PanelHandler__Header__Icon__Mobile {
  display: none;
}

.PanelHandler__Header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
  align-items: center;
}

.Topic {
  font-size: 16px;
}

.PanelHandler .CreateMessage {
  position: absolute;
  bottom: 16px;
  left: 8px;
  right: 8px;
}

.PanelHandler .Messages {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 60px;
  bottom: 96px;
  overflow: auto;
}

.PanelHandler__Observer {
  position: absolute;
  bottom: 16px;
  left: 16px;

}
.PanelHandler__Dashboard {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 11px;
  color: #999;
  text-decoration: none;
}

.PanelHandler__Mobile__Close {
  display: none;
  position: absolute;
  padding: 16px;
  top: 0px;
  right: 0px;
  color: #FFF;
}

.PanelHandler__Share__InputContainer {
  padding: 8px;
}

.PanelHandler__Share__Input {
  background-color: #ECECEC; 
  padding: 8px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media(max-width: 720px) {

  .PanelHandler__Sidebar {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  .PanelHandler__Sidebar__Mobile {
    display: block;
  }

  .PanelHandler__Mobile__Close{
    display: block;
  }

  .PanelHandler__Body {
    left: 0;
  }

  .PanelHandler__Header__Icon__Mobile {
    display: inline-block;
  }
}
