.Presence__User {
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.Presence__User--HasMicrophone {
  opacity: 1;
}

.Presence__Indicator {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #999;
  display: block;
}

.Presence__Indicator--HasMicrophone {
  background-color: #bada55;
}
