.User {
  display: flex;
  align-items: center;
}

.User__Avatar {
  position: relative;
}

.OnlineNugget {
  position: absolute;
  top: 0;
  right: 4px;
}

.User__Image {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding-right: 8px;
}

