.Users {
  padding: 8px 16px;
}

.Users__Row {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.Users__Row:hover .Users__IconRemove {
  display: block;
}

.Users__Row:hover .Users__IconPlus {
  display: block;
}

.Users__IconRemove {
  display: none;
}

.Users__IconPlus {
  display: none;
}
